html {
  font-size: 16px;
  font-family: "Spartan", sans-serif;
}

html[data-mytheme="dark"] {
  --global-theme-main-bg: hsl(222, 26%, 31%);
  --global-theme-screen-bg: hsl(224, 36%, 15%);
  --global-theme-keypad-bg: hsl(223, 31%, 20%);
  --global-theme-key-bg: hsl(30, 25%, 89%);
  --global-theme-key-shadow: hsl(28, 16%, 65%);
  --global-theme-key-col: hsl(221, 14%, 31%);
  --global-theme-key-accent-bg: hsl(225, 21%, 49%);
  --global-theme-key-accent-shadow: hsl(224, 28%, 35%);
  --global-theme-key-accent-col: white;
  --global-theme-key-eq-bg: hsl(6, 63%, 50%);
  --global-theme-key-eq-shadow: hsl(6, 70%, 34%);
  --global-theme-key-eq-col: white;
  --global-theme-head-col: white;

  --global-theme-key-bg-active: rgb(206, 206, 206);
  --global-theme-key-shadow-active: hsl(28, 16%, 65%);
  --global-theme-key-accent-bg-active: hsl(224, 22%, 38%);
  --global-theme-key-accent-shadow-active: hsl(224, 28%, 35%);
  --global-theme-key-eq-bg-active: hsl(6, 63%, 42%);
  --global-theme-key-eq-shadow-active: hsl(6, 70%, 34%);
  --global-theme-attribution-col: white;
}

html[data-mytheme="light"] {
  --global-theme-main-bg: hsl(0, 0%, 90%);
  --global-theme-screen-bg: hsl(0, 0%, 93%);
  --global-theme-keypad-bg: hsl(0, 5%, 81%);
  --global-theme-key-bg: hsl(45, 7%, 89%);
  --global-theme-key-shadow: hsl(35, 11%, 61%);
  --global-theme-key-col: hsl(60, 10%, 19%);
  --global-theme-key-accent-bg: hsl(185, 42%, 37%);
  --global-theme-key-accent-shadow: hsl(185, 58%, 25%);
  --global-theme-key-accent-col: white;
  --global-theme-key-eq-bg: hsl(25, 98%, 40%);
  --global-theme-key-eq-shadow: hsl(25, 99%, 27%);
  --global-theme-key-eq-col: white;
  --global-theme-head-col: hsl(60, 10%, 19%);

  --global-theme-key-bg-active: hsl(0, 0%, 78%);
  --global-theme-key-shadow-active: hsl(35, 11%, 61%);
  --global-theme-key-accent-bg-active: hsl(185, 42%, 31%);
  --global-theme-key-accent-shadow-active: hsl(185, 58%, 25%);
  --global-theme-key-eq-bg-active: hsl(25, 100%, 31%);
  --global-theme-key-eq-shadow-active: hsl(25, 99%, 27%);
  --global-theme-attribution-col: black;
}

html[data-mytheme="purple"] {
  --global-theme-main-bg: hsl(268, 75%, 9%);
  --global-theme-screen-bg: hsl(268, 71%, 12%);
  --global-theme-keypad-bg: hsl(268, 71%, 12%);
  --global-theme-key-bg: hsl(268, 47%, 21%);
  --global-theme-key-shadow: hsl(290, 70%, 36%);
  --global-theme-key-col: hsl(52, 100%, 62%);
  --global-theme-key-accent-bg: hsl(281, 89%, 26%);
  --global-theme-key-accent-shadow: hsl(285, 91%, 52%);
  --global-theme-key-accent-col: white;
  --global-theme-key-eq-bg: hsl(176, 100%, 44%);
  --global-theme-key-eq-shadow: hsl(177, 92%, 70%);
  --global-theme-key-eq-col: hsl(198, 20%, 13%);
  --global-theme-head-col: hsl(52, 100%, 62%);

  --global-theme-key-bg-active: hsl(268, 46%, 18%);
  --global-theme-key-shadow-active: hsl(290, 70%, 36%);
  --global-theme-key-accent-bg-active: hsl(281, 89%, 21%);
  --global-theme-key-accent-shadow-active: hsl(285, 91%, 52%);
  --global-theme-key-eq-bg-active: hsl(176, 94%, 38%);
  --global-theme-key-eq-shadow-active: hsl(177, 92%, 70%);
  --global-theme-attribution-col: white;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--global-theme-main-bg);
  transition: all 1.5s;
}

.calculator {
  width: 37%;
  height: 80%;
  margin-bottom: 15px;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 15%;
  max-height: 50%;
  font-size: 1.8em;
  text-align: center;
  color: var(--global-theme-head-col);
  margin-left: 5px;
}

.themes {
  height: 80%;
  min-width: 20%;
}

.col2 {
  height: 100%;
  width: 100%;
}

.row1 {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.row2 {
  height: 50%;
  display: flex;
  justify-content: center;
}

#slider {
  width: 38px;
  height: 14px;
  -webkit-appearance: none;
  outline: none;
  background-color: var(--global-theme-keypad-bg);
  border-radius: 30px;
  padding: 0 3px;
  transition: all 1.5s;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--global-theme-key-eq-bg);
  filter: drop-shadow(0 0 1px var(--global-theme-key-eq-shadow));
  cursor: pointer;
}

.themes-slider {
  display: flex;
  align-items: center;
}

label {
  font-size: 8px;
  height: 6px;
  width: 40px;
  display: inline-block;
  color: var(--global-theme-head-col);
}

.title {
  font-size: 8px;
  display: inline-block;
  color: var(--global-theme-head-col);
  min-width: 10px;
  text-align: center;
  padding: 0 2px;
}

.result {
  width: 100%;
  background-color: var(--global-theme-screen-bg);
  border-radius: 8px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  transition: all 1.5s;
}

.result-value {
  display: inline-block;
  max-width: 90%;
  width: 90%;
  height: 35%;
  font-size: 32px;
  color: var(--global-theme-head-col);
  text-align: end;
}

.buttons {
  width: 100%;
  background-color: var(--global-theme-keypad-bg);
  border-radius: 8px;
  height: 310px;
  margin: 10px 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  transition: all 1.5s;
}

.buttons-panel {
  display: grid;
  height: 90%;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 15px;
}

.key {
  /** min-width: 60px;
  min-height: 20px; 
    width: 50%;
  height: 35%;
**/
  display: inline-block;
  font-size: 22px;
  min-width: 100%;
  min-height: 90%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--global-theme-key-col);
  font-family: "Spartan", sans-serif;
  background-color: var(--global-theme-key-bg);
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px var(--global-theme-key-shadow);
}

.key.delete-key {
  color: var(--global-theme-key-accent-col);
  background-color: var(--global-theme-key-accent-bg);
  box-shadow: 0 3px var(--global-theme-key-accent-shadow);

  font-size: 15px;
}

.key.rst-key {
  color: var(--global-theme-key-accent-col);
  background-color: var(--global-theme-key-accent-bg);
  box-shadow: 0 3px var(--global-theme-key-accent-shadow);

  font-size: 15px;

  grid-area: 5 / 1 / 5 / span 2;
}

.key.eq-key {
  color: var(--global-theme-key-eq-col);
  background-color: var(--global-theme-key-eq-bg);
  box-shadow: 0 3px var(--global-theme-key-eq-shadow);

  font-size: 15px;

  grid-area: 5 / 3 / 5 / span 2;
}

.key:active {
  background-color: var(--global-theme-key-bg-active);
  box-shadow: 0 0px var(--global-theme-key-shadow-active);
  transform: translateY(3px);
}
.key.eq-key:active {
  background-color: var(--global-theme-key-eq-bg-active);
  box-shadow: 0 0px var(--global-theme-key-eq-shadow-active);
  transform: translateY(3px);
}
.key.rst-key:active {
  background-color: var(--global-theme-key-accent-bg-active);
  box-shadow: 0 0px var(--global-theme-key-accent-shadow-active);
  transform: translateY(3px);
}
.key.delete-key:active {
  background-color: var(--global-theme-key-accent-bg-active);
  box-shadow: 0 0px var(--global-theme-key-accent-shadow-active);
  transform: translateY(3px);
}
.attribution {
  padding-top: 50px;
  font-size: 10px;
  color: var(--global-theme-attribution-col);
  opacity: 0.5;
}

.attribution a {
  color: var(--global-theme-attribution-col);
  text-decoration: none;
}
